<f:if condition="{settings.view} == 'listview'">
    <f:then>
        <f:if condition="{settings.featureFeuser}">
            <f:then> 
                <f:security.ifAuthenticated>
                    <f:render partial="View/List" arguments="{_all}" />
                </f:security.ifAuthenticated>
            </f:then>
            <f:else>
                <f:render partial="View/List" arguments="{_all}" />
            </f:else>
        </f:if>
    </f:then>
    <f:else if="{settings.view} == 'detailview'">
        <f:if condition="{settings.featureFeuser}">
            <f:then> 
                <f:security.ifAuthenticated>
                    <f:render partial="View/Detail" arguments="{_all}" />
                </f:security.ifAuthenticated>
            </f:then>
            <f:else>
                <f:render partial="View/Detail" arguments="{_all}" />
            </f:else>
        </f:if>
    </f:else>
    <f:else if="{blockRating} == 0">
        <f:if condition="{settings.featureFeuser}">
            <f:then> 
                <f:security.ifAuthenticated>
                    <f:render partial="View/Form" arguments="{_all}" />
                </f:security.ifAuthenticated>
            </f:then>
            <f:else>
                <f:render partial="View/Form" arguments="{_all}" />
            </f:else>
        </f:if>
    </f:else>
</f:if>